---
title: Templates
layout: table
sectionid: collection-index-templates
---

<h1 style="margin-left: auto;margin-right: auto;">Available Dev Container Templates</h1>
<p style="margin-left: auto;margin-right: auto;">
    This table contains all official and community-supported <a href="implementors/templates/">Dev Container Templates</a>
    known at the time of crawling <a href="collections">each registered collection</a>. This list is continuously 
    updated with the latest available Template information. See the <a href="https://github.com/devcontainers/template-starter">
    Template quick start repository</a> to add your own!
    <br><br>
    Templates listed here will be presented in the UX of <a href="supporting">supporting tools</a>.
    <br><br>
    Please note that if you need to report a Template, you should do so through the registry hosting the Template.
</p>

<p>
</p>
<tr>
    <td class="tg-0lax"><b>Template Name</b></b></td>
    <td class="tg-0lax"><b>Maintainer</b></td>
</tr>

{% for c in site.data.devcontainer-index.collections %}
    {% for f in c.templates %}
    <tr>
        <td class="tg-0lax"><a rel="nofollow" href="{{ f.documentationURL | strip_html }}">{{ f.name | strip_html  }}</a></td>
        <td class="tg-0lax">{{ c.sourceInformation.maintainer | strip_html  }}</td>
    </tr>
    {% endfor %}

{% endfor %}
